@import url(chrome://global/skin/about.css);

html {
  font-size: 16px;
}
body {
  max-width: 950px;
}
@media (max-width: 900px) {
  html {
    padding: 0;
    margin: 0;
    font-size: 12px;
  }
  body {
    width: -moz-calc(100% - 3em);
    max-width: -moz-calc(100% - 3em);
    margin: 0;
    border: 0;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
thead tr,
tbody tr:not(:last-child) {
  border-bottom: 1px dotted black;
}

td, th {
  padding: 1ex;
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px dotted darkgray;
}

td > p {
  padding: 0;
  margin: 0;
}
.loading {
  height: 96px;
  background: url(loading.gif) no-repeat center center;
}
  
.total,
.name {
  font-weight: bold;
}
.id {
  font-size: smaller;
  font-style: italic;
  color: gray;
}
.id:hover {
  color: black;
}

sup {
  padding-left: 1ex;
  padding-right: 1em;
}
sup > a {
  text-decoration: none;
}

figure.icon {
  float: left;
  margin: 0;
  padding: 0;
}
div.icon {
  width: 64px;
  height: 64px;
  margin: 0;
  padding: 0;
  padding-right: 1em;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.icon > img {
  margin: 0;
  padding: 0;
  min-width: 32px;
  min-height: 32px;
  max-width: 64px;
  max-height: 64px;
}

th#memory {
  width: 6em;
}
th#bar {
  width: 10em;
}

th:not([id]) {
  width: 3em;
}

.remark {
  color: red;
  font-size: small;
}

.bar {
  height: 1.5em;
  background: navy;
}
